*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.*
*.coverprofile
profile.cov
logs
*.log

go.work
go.work.sum

.venv/
__pycache__/
artifacts/

.env
.vscode/

shared/pkg/pb
ingestion-service/app/proto
